@charset "UTF-8";
/*Configurações gerais*/
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;  
}
/*Configurações da tag body*/
body {
    font-family: Arial, Helvetica, sans-serif; /*Tipo da fonte*/
    font-size: 1em; /*Tamanho da fonte*/
    background-color: lightgray; /*cor de fundo*/
    height: 100vh; /*Altura 100 vezes a altura da tela*/
    width: 100vw; /*Largura 100 vezes a Largura da tela*/
}
/*Configurações da tag header*/
header {
    background-color: gray;
    color: white; /*Cor da fonte*/
    padding: 10px;
    display: flex; /*Definindo conteiner flexivel*/
    flex-flow: row wrap; /*Definindo quebra de linha*/
    justify-content: space-between; /*Ajustando espaço restante entre o conteúdo*/
    align-items: center;/*Alinhando os itens ao centro*/
}
/*Configurações do h1 de header*/
header > h1 {
    /*border: 1px dotted black; /*Criando borda pontilhada*/
    flex: 0 0 200px; /*Definindo grow, shrink, flex basis*/
    text-shadow: 2px 2px 0px black ; /*Sombra do texto*/
}
/*Configurações do cabeçalho de navegação*/
header > nav {
    /*border: 1px dotted black;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; /*Ajustando espaço restante no final*/
    
}
/*Configurações dos links da tag nav*/
header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none; /*Retirando decoração de texto*/
    text-align: center; /*Centralizando texto*/
}
/*Configurações dos links da tag nav ao passar o mouse*/
header > nav > a:hover {
    background-color:white;
    color: black;
    transition: background-color .5s; /*Tempo de transição*/
}

/*Configurações da tag main*/
main {
    background-color: white;
    margin: 10px; /*Definindo a margin*/
    padding: 10px; /*Definindo distância do elemento pra margin */
    border-radius: 10px; /*Arredondando a borda */
    box-shadow: 2px 2px 3px black; /*Criando sombreamento*/
}



